In [ ]:
1. Write a program to reverse a string.

In [ ]:
string = "Hello world"
print(string[::-1])

In [ ]:
2. Check if a string is a palindrome.

In [ ]:
def is_palindrome(s):
    s = s.lower()
    s = ''.join(e for e in s if e.isalnum())
    return s == s[::-1]

In [ ]:
3. Convert a string to uppercase.

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
4. Convert a string to lowercase.

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
5. Count the number of vowels in a string.

In [ ]:
string="Abhijit"
string_lower = string.lower()
print("your string is: ", string)
a = string.count("a")
e = string.count("e")
i = string.count("i")
o = string.count("o")
u = string.count("u")
vowel=a+e+i+o+u+1
print("Number of vowel is :",vowel)
# count of number of vowels in the string
# print(len(vowels))

In [ ]:
6. Count the number of consonants in a string.

In [ ]:
str="Abhijit"
string = str.lower()
print("your string is: ", string)
a = string.count("a")
e = string.count("e")
i = string.count("i")
o = string.count("o")
u = string.count("u")
vowel=a+e+i+o+u
len_str=len(string) # Length of total string
cons=len_str-vowel
print("Number of consonant is :",cons)

In [ ]:
def count_con(string):
    
    con_count = 0
    con = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

    for char in string:
        if char in con:
            con_count += 1
    return con_count

# Input string
input_string = input("Enter a string: ")


result = count_con(input_string)
print("Number of consonants:", result)

In [ ]:
7. Remove all whitespaces from a string.

In [ ]:
a = "Hello, World!"
# Using the replace() method to replace spaces with an empty string:
print(a.replace(' ', ''))

In [ ]:
8. Find the length of a string without using the `len()` function.

In [ ]:
a = "Hello, World!"
print(a.count())

In [ ]:
9. Check if a string contains a specific word.

In [ ]:
str = "Hello, world!"
str_lower = str.lower()
specific_word = "world"
result = specific_word in str_lower
print(result)

In [ ]:
10. Replace a word in a string with another word

In [ ]:
text = "Hello, world!"

# replace 'world' with 'Python'
replaced_text = text.replace('world!', 'Python')
print(replaced_text)

In [ ]:
11. Count the occurrences of a word in a string.

In [ ]:

test_str = "He is a boy and he play football"
lower_str=test_str.lower()
# using count()
word='he'
counter = lower_str.count(word)
# printing result
print("Count the occurrences of a word is : ",counter)

In [ ]:
12. Find the first occurrence of a word in a string.

In [ ]:
s = "the dude is a cool dude"
# using find() 
result=s.find('dude')
print("Index of the first occurrence:", result)

In [ ]:
13. Find the last occurrence of a word in a string.

In [ ]:
s = "the dude is a cool dude"
# using find() 
result=s.rfind('dude')
print("Index of the last occurrence:", result)

In [ ]:
14. Split a string into a list of words.

In [ ]:
myString = "Hello world"
myList = myString.split()

print(myList)

In [ ]:
15. Join a list of words into a string.

In [ ]:
list_abc = ['aaa', 'bbb', 'ccc']

string = ''.join(list_abc)
print(string)

In [ ]:
16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
a = "He is a boy and he play football"
print(a.replace(' ', '_'))

In [ ]:
17. Check if a string starts with a specific word or phrase.

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

In [ ]:
18. Check if a string ends with a specific word or phrase.

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("world.")

print(x)

In [ ]:
19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
txt = "hello world"

x = txt.title()

print(x)

In [ ]:
20. Find the longest word in a string.

In [ ]:
sentence = " Hello, welcome to my world."

# Finding longest word
longest = max(sentence.split(), key=len)

# Displaying longest word
print("Longest word is: ", longest)

In [ ]:
21. Find the shortest word in a string.

In [ ]:
sentence = " Hello, welcome to my world."

# Finding longest word
shortest = min(sentence.split(), key=len)

# Displaying longest word
print("shortest word is: ", shortest)

In [ ]:
22. Reverse the order of words in a string.

In [ ]:
string = " Hello, welcome to my world."
## splitting the string on space
words = string.split()
## reversing the words using reversed() function
words = list(reversed(words))
## joining the words and printing
print(" ".join(words))

In [ ]:
23. Check if a string is alphanumeric.

In [ ]:
string = " Hello, welcome to my world."
print(string.isalnum())

In [ ]:
24. Extract all digits from a string.

In [ ]:
test_string = "There are 2 apples for 4 persons"

numbers = []
for char in test_string:
    
#using the isdigit() method.
	if char.isdigit():
# append digit to a list
		numbers.append(int(char))

print("The numbers list is:", numbers)

In [ ]:
string = "There are 2 apples for 4 persons"
result = ""
for i in string:
    if i.isdigit():
        result = "".join([result,i])
print(result)

In [ ]:
25. Extract all alphabets from a string.

In [ ]:
string = "There are 2 apples for 4 persons"
result = ""
for i in string:
    if i.isalpha():
        result = "".join([result,i])
print(result)

In [ ]:
26. Count the number of uppercase letters in a string.

In [ ]:
string = "There are 2 Apples for 4 Persons"
result = ""
for i in string:
    if i.isupper():
        result = "".join([result,i])
print(len(result))

In [ ]:
27. Count the number of lowercase letters in a string.

In [ ]:
string = "There are 2 Apples for 4 Persons"
result = ""
for i in string:
    if i.islower():
        result = "".join([result,i])
print(len(result))

In [ ]:
28. Swap the case of each character in a string.

In [ ]:
string = "There are 2 Apples for 4 Persons"
result = string.swapcase()
print(result)

In [ ]:
29. Remove a specific word from a string.

In [ ]:
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = input_string.replace(word_to_remove, '')
print(result)

In [ ]:
30. Check if a string is a valid email address.

In [ ]:
import re  
  
def validate_email(email):  
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):  
        return True  
    return False  
  
email = "example@domain.com"  
if validate_email(email):  
    print("Valid email address")  
else:  
    print("Invalid email address")

In [ ]:
31. Extract the username from an email address string.

In [ ]:
def email_splitter(email):
    username = email.split('@')[0]
    print('Username : ', username)

In [ ]:
32. Extract the domain name from an email address string.

In [ ]:
def email_splitter(email):
    domain_name = domain.split('.')[0]
    print('Domain name is   : ', domain_name)

In [ ]:
33. Replace multiple spaces in a string with a single space.

In [ ]:
string = "Hello     world!   How   are   you?"
cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
print(cleaned_string )

In [ ]:
34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)

# Print extracted protocols
print("Protocol :", protocol1)

In [ ]:
36. Find the frequency of each character in a string.

In [ ]:
string = "hello world"

for i in string:
    frequency = string.count(i)
    print('Character:',str(i) + ": frequency: " + str(frequency))

In [ ]:
37. Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

In [ ]:
38. Check if a string contains only digits.

In [ ]:
string =input("Enter a Srting")
result=string.isdigit()
print(f"'{string}' contains only digits:", result)

In [ ]:
39. Check if a string contains only alphabets.

In [ ]:
string =input("Enter a Srting")
result=string.isalpha()
print(f"'{string}' contains only alphabets:", result)

In [ ]:
40. Convert a string to a list of characters.

In [ ]:
string = "Hello, world!"
print([*string])

In [ ]:
41. Check if two strings are anagrams.

In [ ]:
str1 ="Listen"
str2 ="silent"

s1 = str1.replace(" ", "").lower()
s2 = str2.replace(" ", "").lower()
def check(s1, s2):
	
	if(sorted(s1)== sorted(s2)):
		print("The strings are anagrams.")
	else:
		print("The strings aren't anagrams.")		
		
check(s1, s2)

In [ ]:
42. Encode a string using a Caesar cipher.

In [ ]:
def encypt_func(txt, s):  
    result = ""  
  
  
# transverse the plain txt  
    for i in range(len(txt)):  
        char = txt[i]  
        # encypt_func uppercase characters in plain txt  
  
        if (char.isupper()):  
            result += chr((ord(char) + s - 64) % 26 + 65)  
        # encypt_func lowercase characters in plain txt  
        else:  
            result += chr((ord(char) + s - 96) % 26 + 97)  
    return result  
# check the above function  
txt = "CEASER CIPHER EXAMPLE"  
s = 4  
  
print("Plain txt : " + txt)  
print("Shift pattern : " + str(s))  
print("Cipher: " + encypt_func(txt, s))

In [ ]:
43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decoder(text, shift):

    decoded_text = ""

    for char in text:
        if char.isalpha():
           
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            
            decoded_char = char

        
        decoded_text += decoded_char
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)
print("Decoded text:", decoded_text)

In [ ]:
44. Find the most frequent word in a string.

In [ ]:
from collections import Counter
from functools import reduce
 
def most_frequent_word(test_list):
    all_words = reduce(lambda a, b: a + b, [sub.split() for sub in test_list])
    word_counts = Counter(all_words)
    return word_counts.most_common(1)[0][0]
 
test_list = ["python best for coders', 'python is fun', 'python easy to learn"]
print("The original list is: ", test_list)
print("Word with most frequency: ", most_frequent_word(test_list))

In [ ]:
45. Find all unique words in a string.

In [ ]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

In [ ]:
46. Count the number of syllables in a string.

In [ ]:
import re
def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)
word1 = "hello"
syllables1 = count_syllables(word1)
print(f"'{word1}' has {syllables1} syllables.")

In [ ]:
47. Check if a string contains any special characters.

In [ ]:
import re
def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string = "Hello, world!"
result = contains_special_characters(string)
print(result)

In [ ]:
48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return None, None

input_str = input("Enter a string:")
n_value = int(input("Enter the nth number want to remove: "))

modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

In [ ]:
49. Insert a word at the nth position in a string.

In [ ]:
def insert_word_at_n(input_string, word_to_insert, n):
    words = input_string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word_to_insert)
        modified_string = ' '.join(words)

        return modified_string
    else:
        return None
    
input_str = input("Enter a string:")
word_to_insert = input("Enter a word to insert:")
n_value = int(input("Enter the position want to add: "))

modified_str = insert_word_at_n(input_str, word_to_insert, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

In [ ]:
50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)

    return result

csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

In [ ]:
List Based Practice Problem :

In [ ]:
1. Create a list with integers from 1 to 10.

In [ ]:
integer_list = [i for i in range(1, 11)]

print(integer_list)

In [ ]:
2. Find the length of a list without using the `len()` function.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for i in my_list:
    count += 1
print("The length of the list is:", count)

In [ ]:
3. Append an element to the end of a list.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_element = 11
my_list.append(new_element)
print("Updated list:", my_list)

In [ ]:
4. Insert an element at a specific index in a list.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_element = 11
index_to_insert = 11
my_list.insert(index_to_insert, new_element)
print("Updated list:", my_list)

In [ ]:
5. Remove an element from a list by its value.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
remove_element = 10
my_list.remove(remove_element)
print("Updated list:", my_list)

In [ ]:
6. Remove an element from a list by its index.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
remove_index = 9
my_list.pop(remove_index)
print("Updated list:", my_list)

In [ ]:
7. Check if an element exists in a list.

In [ ]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i=7
if i in lst:
    print(i,"is exist in list")
else:
    print(i,"not exist in list")

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

element_to_find = 5

index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is {index}")

In [ ]:
9. Count the occurrences of an element in a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
print(my_list)   
count = my_list.count(2)  
print("Occurences of 2:",count)

In [ ]:
10. Reverse the order of elements in a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]

my_list.reverse()
print("My List",my_list)
print("Reversed list:", my_list)

In [ ]:
11. Sort a list in ascending order.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
my_list.sort()

print("Sorted list in ascending order:", my_list)

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [ ]:
even_numbers = [x for x in range(2, 21, 2)]

print("List of even numbers:", even_numbers)

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [ ]:
even_numbers = [x for x in range(1, 20, 2)]

print("List of odd numbers:", even_numbers)

In [ ]:
15. Find the sum of all elements in a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
total_sum = sum(my_list)
print("Sum of elements:", total_sum)

In [ ]:
16. Find the maximum value in a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
max_value = max(my_list)
print("Maximum value:", max_value)

In [ ]:
17. Find the minimum value in a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
min_value = min(my_list)
print("Minimum value:", min_value)

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [ ]:
squares = [x ** 2 for x in range(1, 11)]

print("List of squares:", squares)

In [ ]:
19. Create a list of random numbers.

In [ ]:
import random
#Generate 5 random numbers between 10 and 30
randomlist = random.sample(range(10, 30), 5)
print(randomlist)

In [ ]:
20. Remove duplicates from a list.

In [ ]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

unique_list = list(set(my_list))

print("My list:" ,my_list)
print("List without duplicates:", unique_list)

In [ ]:
21. Find the common elements between two lists.

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [3, 5, 7, 9]
list(set(list1).intersection(list2))

In [ ]:
22. Find the difference between two lists.

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [3, 5, 7, 9]
list(set(list1).difference(list2))

In [ ]:
23. Merge two lists.

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [3, 5, 7, 9]

merged_list = list1 + list2
print("Merged list:", merged_list)

In [ ]:
24. Multiply all elements in a list by 2.

In [ ]:
list = [1,2,3,4,5,6]
multiplied_list = [x * 2 for x in list]
print("Multiplied list:", multiplied_list)

In [ ]:
25. Filter out all even numbers from a list.

In [ ]:
my_list = [1, 2, 3, 4, 2, 2, 7, 8, 9, 10]
filtered_list = [x for x in my_list if x % 2 != 0]
print("Filtered list (odd numbers):", filtered_list)

In [ ]:
26. Convert a list of strings to a list of integers.

In [ ]:
string_list = ["10", "20", "30", "40", "50"]

integer_list = [int(x) for x in string_list]

print("List of integers:", integer_list)

In [ ]:
27. Convert a list of integers to a list of strings.

In [ ]:
integer_list = [10, 20, 30, 40, 50]

str_list = [str(x) for x in integer_list]

print("List of string:", str_list)

In [ ]:
28. Flatten a nested list.

In [ ]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list:", flattened_list)

In [ ]:
29. Create a list of the first 10 Fibonacci numbers

In [ ]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

fibonacci_numbers = generate_fibonacci(10)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

In [ ]:
30. Check if a list is sorted.

In [ ]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [10, 20, 30, 40, 50]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

In [ ]:
31. Rotate a list to the left by `n` positions.

In [ ]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

In [ ]:
32. Rotate a list to the right by `n` positions.

In [ ]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

In [ ]:
33. Create a list of prime numbers up to 50.

In [ ]:
print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

In [ ]:
34. Split a list into chunks of size `n`.

In [ ]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

In [ ]:
35. Find the second largest number in a list.

In [ ]:
my_list = [10, 5, 20, 15, 30, 25]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

In [ ]:
36. Replace every element in a list with its square.

In [ ]:
my_list = [10, 5, 20, 15, 30, 25]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

In [ ]:
38. Shuffle the elements of a list randomly

In [ ]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

In [ ]:
39. Create a list of the first 10 factorial numbers

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

In [ ]:
40. Check if two lists have at least one element in common.

In [ ]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

In [ ]:
41. Remove all elements from a list.

In [ ]:
LIST = [6, 0, 4, 1]
print('LIST before clear:', LIST)
 
# Clearing list
LIST.clear()
print('LIST after clear:', LIST)

In [ ]:
42. Replace negative numbers in a list with 0.

In [ ]:
my_list = [10, -5, 20, -15, 30, -25]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print("List after replacing negative numbers with 0:", my_list)

In [ ]:
43. Convert a string into a list of words.

In [ ]:
string = "Hello, world!"
List=string.split()
print(List)

In [ ]:
44. Convert a list of words into a string.

In [ ]:
s=['Hello,', 'world!']
for i in s:
  print(i,end=" ")

In [ ]:
l=['Hello,', 'world!']
# using join() function
s=''.join(l)
print(s)

In [ ]:
45.Create a list of the first `n` powers of 2.

In [ ]:
def gen(x):
   i = 2
   for n in range(x + 1):
       yield i
       i <<= 1

list(gen(4))

In [ ]:
46. Find the longest string in a list of strings.

In [ ]:
test_list = ['123', 'is', 'best', 'for', 'abcde']
 
# create a new list of string lengths using a list comprehension
lengths = [len(s) for s in test_list]
 
# find the index of the longest string in the original list
longest_index = lengths.index(max(lengths))
 
# use the index to get the longest string from the original list
longest_string = test_list[longest_index]
 
# print the longest string
print("Longest string is : " + longest_string)

In [ ]:
47. Find the shortest string in a list of strings.

In [ ]:
test_list = ['123', 'is', 'best', 'for', 'abcde']
 
lengths = [len(s) for s in test_list]
 
shortest_index = lengths.index(min(lengths))
 
shortest_string = test_list[longest_index]
 
print("Shortest string is : " + shortest_string)

In [ ]:
48. Create a list of the first `n` triangular numbers.

In [ ]:
n = 10
triangle_nums = []
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    triangle_nums.append(tri_num)

print(triangle_nums)

In [ ]:
49. Check if a list contains another list as a subsequence.

In [ ]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

In [ ]:
50. Swap two elements in a list by their indices

In [ ]:
#given list
fruits = ["oranges", "grapes", "bananas"]

print("List of fruits before swap:")
print(fruits)

#swap elements at index 0 and 2
fruits[0], fruits[2] = fruits[2], fruits[0]

print("\nList of fruits after swap:")
print(fruits)

In [ ]:
Tuple Based Practice Problem :

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

third_element = my_tuple[2]

print("The third element of the tuple is:", third_element)

In [ ]:
3. Find the length of a tuple without using the `len()` function.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

count = 0
for i in my_tuple:
    count += 1
print("The length of the tuple is:", count)

In [ ]:
4. Count the occurrences of an element in a tuple.

In [ ]:
my_tuple = (2,4,6,8,10)
print(my_tuple)   
count = my_tuple.count(2)  
print("Occurences of 2:",count)  
data = (2,4,6,8,10,2)  
print(data)  
count = my_tuple.count(2)  
print("Occurences of 2 :",count)

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

element_to_find = 5

index = my_tuple.index(element_to_find)

print(f"The index of {element_to_find} is {index}")

In [ ]:
6. Check if an element exists in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

element_to_check = 5

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

In [ ]:
7. Convert a tuple to a list.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

In [ ]:
8. Convert a list to a tuple.

In [ ]:
my_list = [10, 20, 30, 40, 50]

my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

In [ ]:
9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_numbers_list = [x for x in range(2, 11, 2)] 

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers from 1 to 10:", even_numbers_tuple)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_numbers_list = [x for x in range(1, 10, 2)] 

odd_numbers_tuple = tuple(odd_numbers_list)

print("Tuple of odd numbers from 1 to 10:", odd_numbers_tuple)

In [ ]:
12. Concatenate two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

In [ ]:
13. Repeat a tuple three times.

In [ ]:
tuple = (1, 2, 3)
 
repeated_tuple = tuple * 3

print("Repeatedtuple:", repeated_tuple)

In [ ]:
14. Check if a tuple is empty.

In [ ]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

In [ ]:
15. Create a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

In [ ]:
16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
fst_eliment=nested_tuple[0]
print("first element of Nested tuple:", fst_eliment)

In [ ]:
17. Create a tuple with a single element.

In [ ]:
single_element_tuple = (10,) 

print("Single element tuple:", single_element_tuple)

In [ ]:
18. Compare two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2) 
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)   
print("tuple1 >= tuple2:", tuple1 >= tuple2)

In [ ]:
19. Delete a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

del my_tuple

print(my_tuple)

In [ ]:
20. Slice a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

sliced_tuple = my_tuple[2:6]

print("Sliced tuple:", sliced_tuple)

In [ ]:
21. Find the maximum value in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max_value = max(my_tuple)

print("Maximum value:", max_value)

In [ ]:
22. Find the minimum value in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
min_value = min(my_tuple)

print("Minimum value:", min_value)

In [ ]:
23. Convert a string to a tuple of characters.

In [ ]:
my_string = "Hello, World!"

tuple_of_characters = tuple(my_string)

print("Tuple of characters:", tuple_of_characters)

In [ ]:
24. Convert a tuple of characters to a string

In [ ]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

In [ ]:
25. Create a tuple from multiple data types.

In [ ]:
mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

In [ ]:
26. Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

In [ ]:
27. Sort the elements of a tuple.

In [ ]:
my_tuple = (5, 2, 8, 1, 3)

sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

In [ ]:
28. Convert a tuple of integers to a tuple of strings

In [ ]:
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

print("Tuple of integers:", tuple_of_integers)

In [ ]:
30. Merge two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

In [ ]:
31. Flatten a nested tuple.

In [ ]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

In [ ]:
33. Check if a tuple is a palindrome.

In [ ]:
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

In [ ]:
35. Filter out all even numbers from a tuple.

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

print("Filtered tuple:", filtered_tuple)

In [ ]:
36. Multiply all elements in a tuple by 2.

In [ ]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(num * 2 for num in original_tuple)

print("Doubled tuple:", doubled_tuple)

In [ ]:
37. Create a tuple of random numbers

In [ ]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10))

print("Random tuple:", random_tuple)

In [ ]:
38. Check if a tuple is sorted.

In [ ]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

In [ ]:
39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

In [ ]:
40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2] 
        fibonacci.append(next_number)  
    return tuple(fibonacci)  

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

In [ ]:
42. Create a tuple from user input.

In [ ]:
input_str = input("Enter elements separated by commas: ")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

In [ ]:
43. Swap two elements in a tuple.

In [ ]:
t = (1, 2, 3)
ls = list(t)

ls[1], ls[2] = ls[2], ls[1]

new_t = tuple(ls)
print(new_t)

In [ ]:
44. Reverse the elements of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]  #using slicing

print("Reversed tuple:", reversed_tuple)

In [ ]:
45. Create a tuple of the first `n` powers of 2.

In [ ]:
n = 5

powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

In [ ]:
46. Find the longest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

In [ ]:
47. Find the shortest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

In [ ]:
48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
tup1 = (10, 4, 5, 6)
tup2 = (5, 10)
x=[j for i in tup1 for j in tup2]
print(["yes" if x else "no"])

In [ ]:
50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

In [ ]:
Set Based Practice Problem :

In [ ]:
1. Create a set with integers from 1 to 5.

In [ ]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

In [ ]:
2. Add an element to a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}

element_to_add = 6
my_set.add(element_to_add)

print("Set after adding element:", my_set)

In [ ]:
3. Remove an element from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
my_set.remove(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

In [ ]:
4. Check if an element exists in a set.

In [ ]:
my_set = {1, 3, 5, 7, 9}

element_to_check = 4

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

In [ ]:
5. Find the length of a set without using the `len()` function.

In [ ]:
my_set = {1, 2, 3, 4, 5}

count = 0

for _ in my_set:

    count += 1
print("Length of the set:", count)

In [ ]:
6. Clear all elements from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

In [ ]:
7. Create a set of even numbers from 1 to 10.

In [ ]:
even_numbers_set = set()

for num in range(1, 11):

    if num % 2 == 0:

        even_numbers_set.add(num)
        
print(even_numbers_set)

In [ ]:
8. Create a set of odd numbers from 1 to 10.

In [ ]:
odd_numbers_set = set()

for num in range(1, 10):

    if num % 2 != 0:

        odd_numbers_set.add(num)
        
print(odd_numbers_set)

In [ ]:
9. Find the union of two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1.union(set2)
print("Union of Set 1 and Set 2:", union_result)

In [ ]:
10. Find the intersection of two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
print("intersection of Set 1 and Set 2:", intersection_result)

In [ ]:
11. Find the difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_result = set1.difference(set2)
print("difference of Set 1 and Set 2:", difference_result)

In [ ]:
12. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2:", is_subset)

In [ ]:
13. Check if a set is a superset of another set.

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

In [ ]:
14. Create a set from a list.

In [ ]:
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Set from List:", my_set)

In [ ]:
15. Convert a set to a list.

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
my_list = list(my_set)
print(my_list)

In [ ]:
16. Remove a random element from a set.

In [ ]:
import random  # Import the random module

my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

In [ ]:
17. Pop an element from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element:", popped_element)

In [ ]:
18. Check if two sets have no elements in common.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

In [ ]:
19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

In [ ]:
20. Update a set with elements from another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print("Updated Set 1:", set1)

In [ ]:
21. Create a set of the first 5 prime numbers.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()

num = 2

while len(prime_set) < 5:
    if is_prime(num):
        
        prime_set.add(num)
    num += 1
    print("Set of the first 5 prime numbers:", prime_set)

In [ ]:
22. Check if two sets are identical.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

In [ ]:
23. Create a frozen set.

In [ ]:
elements = [1, 2, 3, 4, 5]

my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

In [ ]:
24. Check if a set is disjoint with another set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [ ]:
squares_set = set()

for num in range(1, 6):
    
    square = num ** 2

    squares_set.add(square)
print(squares_set)

In [ ]:
26. Filter out all even numbers from a set.

In [ ]:
original_set = {1, 2, 3, 4, 5}

even_numbers_set = set()

for num in original_set:
    
    if num % 2 == 0:
       
        even_numbers_set.add(num)
        
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

In [ ]:
27. Multiply all elements in a set by 2.

In [ ]:
original_set = {1, 2, 3, 4, 5}

multiplied_set = set()

for num in original_set:

    multiplied_num = num * 2

    multiplied_set.add(multiplied_num)

print("Original Set:", original_set)

print("Multiplied Set:", multiplied_set)

In [ ]:
28. Create a set of random numbers.

In [ ]:
import random

num_random_numbers = 5

random_number_set = set()

for _ in range(num_random_numbers):
 
    random_num = random.randint(1, 100) 
   
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

In [ ]:
29. Check if a set is empty.

In [ ]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

In [ ]:
30. Create a nested set (hint: use frozenset).

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

In [ ]:
31. Remove an element from a set using the discard method.

In [ ]:
my_set = {1, 2, 3, 4, 5}


element_to_remove = 3

my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

In [ ]:
32. Compare two sets.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

In [ ]:
33. Create a set from a string.

In [ ]:
input_string = "hello"

char_set = set(input_string)

print(char_set)

In [ ]:
34. Convert a set of strings to a set of integers.

In [ ]:
string_set = {"123", "456", "789"}

integer_set = set()

for string in string_set:
 
    integer_value = int(string)

    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

In [ ]:
35. Convert a set of integers to a set of strings.

In [ ]:
integers_set = {1, 2, 3, 4, 5}

strings_set = set()

for num in integers_set:
    num_str = str(num)

    strings_set.add(num_str)

print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

In [ ]:
36. Create a set from a tuple.

In [ ]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple),
print(output_set)

In [ ]:
37. Convert a set to a tuple.

In [ ]:
input_set = {1, 2, 3, 4, 5}

output_tuple = tuple(input_set)

print("Converted tuple:", output_tuple)

In [ ]:
38. Find the maximum value in a set.

In [ ]:
my_set = {15, 7, 22, 13, 8}

max_value = None

for num in my_set:

    if max_value is None or num > max_value:
        max_value = num 

print("Maximum value:", max_value)

In [ ]:
39. Find the minimum value in a set.

In [ ]:
my_set = {15, 7, 22, 13, 8}

min_value = None

for num in my_set:

    if min_value is None or num > min_value:
        min_value = num 

print("minimum value:", min_value)

In [ ]:
40. Create a set from user input.

In [ ]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")

    if user_input.lower() == 'done':
        break 
 
    user_set.add(user_input)

print("Final set:", user_set)

In [ ]:
41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

In [ ]:
42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    
    fibonacci_set.add(a)

    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

In [ ]:
43. Remove duplicates from a list using sets.

In [ ]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)

print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [ ]:
def have_same_elements(set1, set2):
   
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

In [ ]:
45. Create a set of the first `n` powers of 2.

In [ ]:
ef generate_powers_of_2(n):
    powers_of_2 = set()

    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2

n = 5
powers_set = generate_powers_of_2(n)

print(powers_set)

In [ ]:
46. Find the common elements between a set and a list.

In [ ]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    if element in list_to_set:
        common_elements.append(element)

print("Common elements:", common_elements)

In [ ]:
47. Create a set of the first `n` triangular numbers.

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

In [ ]:
48. Check if a set contains another set as a subset.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

In [ ]:
49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

In [ ]:
50. Merge multiple sets into one.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)